body {
    font-family: Arial, sans-serif;
    text-align: center;
}

ol {
    list-style-type: decimal;
    padding: 0;
}

li {
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    background-color: lightgray;
    display: inline-block;
    border-radius: 5px;
}